.home-banner{
	.container{
		padding: 0;
	}
}
.cas-home{
	img{
		width: 100%;
		height: 28rem;
		object-fit: initial;
	}
}
.cas-vertical{
	margin-top: -2.8rem;
	padding: 1.5rem;
	background-color: #fff;
	box-shadow: 0 0 1rem 0 rgba(#000,0.2);
	border-radius: 1rem;
}
.list-menu{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 1.5rem;
	margin-top: 2rem;
	border-radius: 2rem;
	box-shadow: 0 0 1rem 0 rgba(#000,0.2);
	.item{
		flex: 0 0 33.333333%;
		display: inline-flex;
		justify-content: center;
		margin: 1rem 0;
		@media (min-width: 1024px) {
			flex: 0 0 16.6666666667%;	
		}
		a{
			display: inline-flex;
			align-items: center;
			flex-direction: column;
			.ic{
				width: 4rem;
				height: 4rem;
				margin-bottom: 1rem;
			}
			.title{
				text-align: center;
				font-size: 1.4rem;
				color: #002EA6;
			}
		}
	}
}
.head-pri{
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1.5rem;
}
.home-block{
	padding: 2.5rem 0;
	&.product{
		padding-top: 0;
	}
}
.list-level{
	.item{
		display: flex;
		align-items: center;
		padding: 1.5rem;
		color: #fff;
		border-radius: 1rem;
		overflow: hidden;
		background: linear-gradient(240deg, rgb(12, 36, 66), rgb(79, 116, 146));
		margin-bottom: 2rem;
		box-shadow: 0 0.4rem 1rem 0 rgba(#000,0.4);
		.img{
			flex: 0 0 40%;
			margin-right: 1.5rem;
			img{
				border-radius: 1rem;
				min-height: 8rem;
			}
		}
		.ct{
			.title{
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: 0.5rem;
			}
			.desc{
				margin-bottom: 0.2rem;
				font-size: 1.2rem;
				color: rgba(#fff,0.6);
			}
		}
		&.v2{
			background: linear-gradient(240deg, rgba(90,113,150,1) 0%,rgba(118,138,170,1) 100%);
		}
		&.v3{
			background: linear-gradient(240deg, rgba(219, 111, 33, 0.99), rgb(249, 153, 5));
		}
		&.v4{
			background: linear-gradient(240deg, rgba(39, 55, 131, 0.99), rgb(47, 67, 177));
		}
		&.v5{
			background: linear-gradient(240deg, rgba(61, 147, 181, 0.99), rgb(49, 179, 139));
		}
	}
}
.item-prd{
	background-color: #fff;
	border-radius: 0.8rem;
	box-shadow: 0 0 0.5rem 0 rgba(#000,0.12);
	margin-bottom: 1.5rem;
	.img{
		padding: 0.5rem;
		height: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			max-width: 95%;
			max-height: 95%;
		}
	}
	.ct{
		padding: 0.5rem 1rem;
		font-size: 1.2rem;
		.title{
			@include set-line(2,1.5em);
		}
		.price{
			color: #fe2423;
			margin-top: 0.5rem;
			font-weight: 700;
		}
	}
}
.menu-fix{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 6rem;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	box-shadow: 0px -0.3rem 1rem rgba(0, 0, 0, 0.1);
	ul{
		display: flex;
		align-items: center;
		justify-content: space-around;
		li{
			flex: 0 0 3.5rem;
			height: 3.5rem;
			margin: 0 2rem;
			a{
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.6rem;
			}
			&.active{
				a{
					background-color: #ffb046;
					img{
						filter: brightness(0) invert(1);
					}
				}
			}
		}
	}
	&.v2{
		background-color: #002EA6;
		color: #fff;
		ul{
			li{
				font-size: 1.7rem;
				&.active{
					a{
						background-color: transparent;
						color: #ffb046;

					}
				}
			}
		}
	}
}
.desc-pri{
	font-size: 1.2rem;
	margin-bottom: 3rem;
	p{
		&:not(:last-child){
			margin-bottom: 0.5rem;
		}
	}
}
.ptt{
	height: 5rem;
}
.block-order{
	border-radius: 1rem;
	overflow: hidden;
	background-color: #fff;
	margin-bottom: 3rem;
	.banner{
		margin-bottom: 1.5rem;
		img{
			max-height: 20rem;
			width: 100%;
			border-radius: 1rem;
		}
	}
	.content{
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem;
	}
}
.btn-order{
	background-color: #4633FF;
	border-radius: 5rem;
	text-transform: uppercase;
	color: #fff !important;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 3rem);
	margin-left: 1.5rem;
	height: 5rem;
	font-size: 1.6rem;
}
.item-order{
	padding: 1.5rem;
	flex: 0 0 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-bottom: 1px solid #dee2e6;
	text-align: center;
	font-size: 1.2rem;
	&:nth-child(3),&:nth-child(4){
		border: none;
	}
	.ic{
		height: 4.8rem;
		width: 4.8rem;
		margin-bottom: 1rem;
	}
	.title{
		color: #6a573e;
		margin-bottom: 0.2rem;
	}
	.desc{
		color: #ff6225;
	}
}
.md-order{
	.modal-content{
		border-radius: 2rem;
		border: none;
		box-shadow: 0 0 1rem 0 rgba(#000,0.32);
	}
	.modal-body{
		padding: 2rem;
	}
	.modal-dialog{
		max-width: 40rem;
	}
}
.wrap-md-order{
	.top{
		display: flex;
		.ct{
			flex: 0 0 50%;
			.cate{
				font-weight: 500;
				margin-bottom: 2rem;
			}
			.head{
				text-transform: uppercase;
				font-size: 1.4rem;
			}
			.title{
				color: #4633FF;
				font-weight: 700;
				font-size: 2rem;
			}
			.rating{
				display: flex;
				font-size: 1.4rem;
				margin-top: 1rem;
				.star{
					color: orange;
					margin-right: 0.5rem;
				}
			}
		}
		.img{
			flex-grow: 1;
			height: 15rem;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 1rem;
			img{
				max-width: 70%;
				max-height: 70%;
			}
		}
	}
	.desc{
		font-size: 1.4rem;
		margin-bottom: 2rem;
	}
}